# Configuración de la base de datos
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=mi_agenda_smart

# Clave secreta para JWT
JWT_SECRET=TU_CLAVE_SECRETA_JWT

# Credenciales de correo electrónico (para desarrollo)
MAIL_USER=TU_MAIL_USER
MAIL_PASS=TU_MAIL_PASS

# Puerto del servidor
PORT=3001